body {
    /* https://www.pexels.com/photo/coding-computer-data-depth-of-field-577585/ */
    background-image: url("../Assets/kevinku.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 100vh;
}

#jumbo {
    background-color: transparent;
    color: #eeeeee;
    text-shadow: 5px 5px black;
}

.employee-card {
    border-radius: 5%;
}
